{% extends "base.html" %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password">전화번호</label>
            <input type="text" class="form-control" name="password" id="password"
                   value="{{ form.password.data or '' }}">
        </div>
        <button type="submit" class="btn btn-warning">로그인</button>
    </form>
</div>
{% endblock %}