{% extends 'base.html' %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="d-flex justify-content-center">
        {% if g.user %}
        <form method="POST">
            <div class="mb-2">
                <label for="name" class="form-label" style="width: 200px; height: 150px; display: flex; align-items: center; justify-content: center;">
                    어서오세요, {{ g.user.name }}!
                </label>
            </div>
            <a class="btn btn-warning mx-2" href="{{ url_for('.logout') }}">로그아웃</a>
        </form>
        <a class="nav-link btn btn-warning mx-2" href="{{ url_for('.get_uv_index') }} ">
            <img src="{{ url_for('static', filename='자외선지킴이.png') }}" alt="자외선지킴이" style="width: 200px; height: auto;">
        </a>
        <a class="nav-link btn btn-warning mx-2" href="{{ url_for('.upload') }}">
            <img src="{{ url_for('static', filename='피부암판독.png') }}" alt="피부암판독" style="width: 200px; height: auto;">
        </a>

        {% else %}

        <form method="POST" action="{{ url_for('.login') }}">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="mb-2">
                <label for="name" class="form-label">이름</label>
                <input type="text" name="name" id="name" class="form-control" style="width: 200px; height: auto;" required>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">전화번호</label>
                <input type="text" name="password" id="password" class="form-control" style="width: 200px; height: auto;" required>
            </div>
            <button type="submit" class="btn btn-warning mx-2">로그인</button>
            <a class="btn btn-warning mx-2" href="{{ url_for('.signup') }}">가입</a>
        </form>
        <a class="nav-link btn btn-warning mx-2" href="{{ url_for('.login') }} ">
            <img src="{{ url_for('static', filename='자외선지킴이.png') }}" alt="자외선지킴이" style="width: 200px; height: auto;">
        </a>
        <a class="nav-link btn btn-warning mx-2" href="{{ url_for('.login') }}">
            <img src="{{ url_for('static', filename='피부암판독.png') }}" alt="피부암판독" style="width: 200px; height: auto;">
        </a>

        {% endif %}
    </div>
</div>
{% endblock %}